@{
    ViewBag.Title = "Обратна връзка";
}

<h2>@ViewBag.Title</h2>
<div class="text-center shadowed">
    <iframe src="https://docs.google.com/forms/d/1IBxWLW_srA-NuaA4z9Btz79AjhL0pNlVuYHDwHpbQcQ/viewform?embedded=true"
             class="feedback" frameborder="0" marginheight="0" marginwidth="0">
        Loading...
    </iframe>
</div>