@model ThesesSystem.Web.ViewModels.Partials.TeacherInfoViewModel

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.OfficePhoneNumber)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.OfficePhoneNumber)
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-3">
        @Html.LabelFor(m => Model.Cabinet)
    </div>
    <div class="col-md-3">
        @Html.DisplayFor(m => Model.Cabinet)
    </div>
</div>