@model ThesesSystem.Web.ViewModels.Partials.TeacherInfoViewModel

<tr>
    <td>
        @Html.LabelFor(m => Model.OfficePhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(m => Model.OfficePhoneNumber)
    </td>
</tr>

<tr>
    <td>
        @Html.LabelFor(m => Model.Cabinet)
    </td>
    <td>
        @Html.DisplayFor(m => Model.Cabinet)
    </td>
</tr>