@model ICollection<ThesesSystem.Web.ViewModels.Users.VerificationViewModel>
@using ThesesSystem.Web.ViewModels.Partials
@{
    ViewBag.Title = "Новорегистрирани потребители";
}

<h2>Новите потребители, които трябва да се проверят</h2>

<div class="list-group">
    <a href="#" class="list-group-item disabled">
        Потребители
    </a>
    @if (Model.Count == 0)
    {
        <h2 class="alert alert-info">Няма нови регистрирани потребители</h2>
    }
    
    @foreach (var item in Model)
    {
        <a href='@Url.Action("Account", "User", new { id = item.Id})' class="list-group-item">@item.FullName - @item.EGN</a>
    }
</div>

<div class="row">
    <div class="text-center">
        @Html.Partial("_PaginationPartial", (PaginationViewModel)ViewData["Pagination"])
    </div>
</div>