@model ThesesSystem.Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Акаунт";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промяна на потребителски настройки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промяна на парола", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Добавяне на парола", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
