@model ThesesSystem.Web.ViewModels.Users.UserProfileViewModel
@{
    ViewBag.Title = "Завършване на регистрацията";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_ProcessStep", new ThesesSystem.Web.ViewModels.Partials.ProcessStepViewModel { CurrentStep = 3 })

<div>
    @Html.Partial("_CompleteUserRegistrationPartial", Model)
    @Html.Partial("_CompleteStudentRegistrationPartial", new ThesesSystem.Web.ViewModels.Partials.StudentRegistrationViewModel())
</div>

@section scripts
{
    <script>

        $("#FacultyId").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#SpecialtyId");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: '/Validation/GetSpecialties/' + selectedItem,
                success: function (data) {
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.Id).html(option.Title));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Грешка при зареждане на факултетите.');
                    statesProgress.hide();
                }
            });
        });
    </script>
}