@{
    ViewBag.Title = "Непотвърден профил";
}
<h2>@ViewBag.Title </h2>

@Html.Partial("_ProcessStep", new ThesesSystem.Web.ViewModels.Partials.ProcessStepViewModel { CurrentStep = 2 })
<br />

<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong>Моля изчакайте дoкaто Вашият профил бъде потвърден от администратор.</strong>
</div>