@{
    ViewBag.Title = "Не потвърден";
}

<h1>Непотвърден профил</h1>
<h2>Моля изчакайте дoкaто Вашият профил бъде потвърден от администратор или се свържете с него на телефон: <strong>+359 888 888 888</strong></h2>

