@model ICollection<ThesesSystem.Web.ViewModels.Theses.ThesisViewModel>
@{
    ViewBag.Title = "Архив";
}

<h2>Добре дошли в Архива!</h2>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@item.Title</h3>
                    </div>
                    <div class="panel-body">
                        Автор: @item.StudentName
                        <br />
                        Научен ръководител: @item.SupervisorName
                    </div>
                </div>
            </div>
        }
    </div>
</div>