@{
    ViewBag.Title = "Намерени резултати";
}

<h1>Намерени резултати</h1>


<h2>Студенти</h2>

<h2>Преподаватели</h2>

<h2>Дипломни работи</h2>

<h2>Факултети</h2>

<h2>Специалности</h2>